<!DOCTYPE html>
<html lang="en">

<head profile="http://www.w3.org/2005/10/profile">
    {{>templates/meta.html}}
    <link rel="stylesheet" href="/css/tufte.css">
</head>

<body>
    <article id="page">
        {{>templates/nav.html}}

        <h1>About me</h1>

        <p>I am an avid user and advocate of Arch Linux, and enjoy using text-based interfaces and Unix command-line and stream processing tools. I am a productive user of Spacemacs, a project that brings the efficiency of the Vim text-editing language to Emacs.</p>

        <p>
            Among other things, I'm interested in and enjoy thinking about expressive type systems, classical music, jazz(-fusion), post-rock, "literature" (especially magical realism), "hard" science fiction, and psychology, and also sometimes indulge in aimless cogitation about AI, consciousness, and other such things.
        </p>

        <p>I currently live in Kolkata, India.</p>

    </article>
    {{>templates/footer.html}}
</body>

</html>
