<!DOCTYPE html>
<html lang="en">

<head profile="http://www.w3.org/2005/10/profile">
    {{>templates/meta.html}}
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/tufte.css">
</head>

</html>

<!DOCTYPE html>
<html lang="en">

<head profile="http://www.w3.org/2005/10/profile">
    {{>templates/meta.html}}
    <link rel="stylesheet" href="/css/tufte.css">
</head>

<body>
    <article id="page">
        {{>templates/nav.html}}

        <h1>Colophon</h1>

        <p>This site is built using <a href="https://github.com/ChrisPenner/SitePipe">SitePipe</a>, Chris Penner's excellent static site generator. The typography and design are courtesy of the <a href="https://github.com/edwardtufte/tufte-css">tufte-css</a> project, which in turn is inspired by Edward Tufte's approach to visual media.
        </p>

    </article>
    {{>templates/footer.html}}
</body>

</html>
