<!DOCTYPE html>
<html lang="en">

<head profile="http://www.w3.org/2005/10/profile">
    {{>templates/meta.html}}
    <title>The Good, The Bad, and The Ramified</title>
    <link rel="alternative" type="application/rss+xml" title="Chris Penner RSS Feed" href="/feed" />
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/tufte.css"> {{>templates/mathjax.html}}
</head>

<body>

    <article id="page">
        {{>templates/nav.html}}
        <h1>Soham Chowdhury</h1>
        <!-- <p><label for="mn-demo" class="margin-toggle">&#8853;</label><input type="checkbox" id="mn-demo" class="margin-toggle"/><span class="marginnote"><img src="/images/avatar-crop.jpg"></img></span>I'm a student of mathematics learning to coherently speak arithmetic geometry and number theory, a functional programmer with an interest in expressive type systems, and an enthusiast of unexplained analogies and the endless unfamiliar. -->
        <p>I'm a student of mathematics learning to coherently speak arithmetic geometry and number theory, a functional programmer with an interest in expressive type systems and homotopy type theory, and an enthusiast of unexplained analogies and the endless unfamiliar.
        </p>

        <p>I'm running a series of posts (read <em>lab journal</em>) on algebraic geometry, called my <a href="/posts/so-what-are-schemes/"><em>Schemes</em> sequence</a></em>. These loosely follow Ravi Vakil's notes for <a href="https://math216.wordpress.com/">Math 216</a>.</p>

        <p>
            I contribute to open-source software on <a href="https://github.com/mrkgnao">GitHub</a>, in addition to maintaining a few trifling projects of my own there.
        </p>

        <p>
            <a href="/about/">About me</a> &middot;
            <a href="/colophon/">Colophon</a> &middot;
            <a href="/rss.xml">RSS feed</a>
        </p>

        {{>templates/post-list.html}}

        <h2>Hacker News comments</h2>

        <p class="fullwidth">
            <a href="https://news.ycombinator.com/item?id=14453962">Rewrite rules for high-performance Haskell (with examples from real libraries)</a>
        </p>
        <p class="fullwidth">
            <a href="https://news.ycombinator.com/item?id=14148506">The Servant library, the compiler as a companion, and evaluating your Haskell proficiency</a>
        </p>
        <p class="fullwidth"><a href="https://news.ycombinator.com/item?id=14016396">What "prime" means, and Fermat's theorem on sums of two squares</a></p>
        <p class="fullwidth"><a href="https://news.ycombinator.com/item?id=14017178">Ideals are better than elements!</a></p>
        <p class="fullwidth"><a href="https://news.ycombinator.com/item?id=13940790">No, you're not stupid: math is actually hard</a></p>
        <p class="fullwidth"><a href="https://news.ycombinator.com/item?id=13907573">Thunks and laziness in Haskell</a></p>
        <p class="fullwidth"><a href="https://news.ycombinator.com/item?id=13905459">Idle thoughts about abstraction in math and pedagogy</a></p>
        <p class="fullwidth"><a href="https://news.ycombinator.com/item?id=13874025">Haskell's "terse" syntax isn't <em>that</em> bad</a></p>
        <p class="fullwidth"><a href="https://news.ycombinator.com/item?id=13678111">ELI5: what is a sheaf?</a></p>
        <!-- <p class="fullwidth"><a href="https://news.ycombinator.com/item?id=13603769">Mozart, GEB, and pop math</a></p> -->
        <!-- <p class="fullwidth"><a href="https://news.ycombinator.com/item?id=12884787">Henri Poincaré on how how he discovered Fuchsian functions</a></p> -->
        <!-- <p class="fullwidth"><a href="https://news.ycombinator.com/item?id=12791347">I don't really know what Levenshtein distance is :(</a></p> -->
        <!-- <p class="fullwidth"><a href="https://news.ycombinator.com/item?id=12418633">The problem with law-abiding alt-BitTorrents</a></p> -->
        <!-- <p class="fullwidth"><a href=""></a></p> -->
        <!-- <p class="fullwidth"><a href=""></a></p> -->


    </article>

    <!-- {{>templates/footer.html}} -->
</body>

</html>
