<!DOCTYPE html>
<html lang="en">

<head profile="http://www.w3.org/2005/10/profile">
    {{>templates/meta.html}}
    {{>templates/meta-data.html}}

    <title>{{title}}</title>
    <link rel="alternate" type="application/atom+xml" title="The Good, The Bad, and the Ramified" href="/rss.xml" />
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/tufte.css">

    {{>templates/mathjax.html}}
</head>

<body>
    {{>templates/nav.html}}

    <header>
        <h1 class="title">
            {{title}}
        </h1>
    </header>
    <!-- <br> {{#image}} -->
    <!-- <img class="post-image" src="/images/{{image}}"> {{/image}} -->
    <!-- <br> {{readingTime}} -->
    <!-- <br> {{#author}} -->
    <!-- <p class="subtitle">by {{author}}</p> {{/author}} -->
    <p class="subtitle">{{{subtitle}}}</p>
    <p class="">{{{description}}}</p>
    <span class="date">published <em>{{date}}</em></span>
    <br>
    <span class="tags">
        tagged
        {{#tags}}
        <a class="tag" href="{{#tagUrl}}{{.}}{{/tagUrl}}"><em>{{.}}</em></a>
        {{/tags}}
    </span>
    <article class="post">
        {{#image}}
        <figure class="fullwidth">
            <img src="/images/{{image}}"></img>
            {{#image-desc}}
            <label>{{{image-desc}}}</label>
            {{/image-desc}}
        </figure>
        {{/image}}

        {{{content}}}
    </article>

    </div>

    {{>templates/footer.html}}
</body>


</html>
