<!DOCTYPE html>
<html lang="en">

<head profile="http://www.w3.org/2005/10/profile">
    {{>templates/meta.html}}
    <title>TODO</title>
    <link rel="alternative" type="application/rss+xml" title="Chris Penner RSS Feed" href="/feed" />
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/tufte.css"> {{>templates/mathjax.html}}
</head>

<body>
    <article>
        {{>templates/nav.html}}
        <header>
            <h1>Articles tagged <em>{{tag}}</em></h1>
        </header>
        <section class="table-of-contents">
            {{>templates/post-list.html}}
        </section>

    </article>
    {{>templates/footer.html}}
</body>

</html>
